<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Log In</title>
</head>
<body>
   <h3>Log in</h3>
   <form action="/login" method="post">
      <label for="username">Username:</label>
      <input type="text" name="username" required />
      <label for="password">Password:</label>
      <input type="text" name="password" required />
      <button type="submit">Login</button>
   </form>
    {% if error %}
    <div id="error-message" class="error" style="color: red;">{{ error }}</div>
    <script>
       setTimeout(function() {
          var errorDiv = document.getElementById('error-message');
          if (errorDiv) {
             errorDiv.style.display = 'none';
          }
       }, 5000);
    </script>
    {% endif %}
   <a href="/register">Create new user</a>
</body>
</html>