<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
</head>
<body>
    <h3>Register new user</h3>
    <form action="/register" method="post">
      <label for="username">Username:</label>
      <div>
        <input type="text" name="username" required />
      </div>
       <label for="password">Password:</label>
      <div>
        <input type="text" name="password" required />
      </div>
      <label for="email">Email:</label>
      <div>
        <input type="email" name="email" />
      </div>
      <label for="Tel">Tel:</label>
      <div>
        <input type="tel" name="tel" />
      </div>
      <button type="submit">Register</button>
   </form>
   
   <style>
      .success { color: green; }
      .error { color: red; }
   </style>
   
   {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
         {% for category, message in messages %}
            <div id="flash-message" class="{{ category }}" style="padding: 10px; margin-bottom: 10px;">{{ message }}</div>
            <script>
               setTimeout(function() {
                  var flashDiv = document.getElementById('flash-message');
                  if (flashDiv) {
                     flashDiv.style.display = 'none';
                  }
                  var category = "{{ category }}";
                  if (category == 'success') {
                     window.location.href = '/login';
                  }
               }, 1000);
            </script>
         {% endfor %}
      {% endif %}
   {% endwith %}
</body>
</html>